<footer>
   <div class="f-info">

    <div class="f-info-social"> 
      
         <i class="fa-solid fa-globe"></i> English(IN)
      
        
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
            
        
     
    </div>

    <div class="f-info-brand">&copy;2023 Airbnb Inc</div>
    
    <div class="f-info-links">
       <a href="/">Privacy</a>
       <a href="/">Terms</a>
       <a href="/">Sitemap</a>
       <a href="/">Company details</a>
    </div>


   </div>
</footer>