<%- layout("layouts/boilerplate") %>

    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <div class="alert alert-danger" role="alert">
                <h4>Error</h4>
                <p>Message: <%= message %></p>
            </div>
        </div>
    </div>

